
<div class="container-fluid">
  
    <div id="games" class="jumbotron">
      <div  class="container">
        <h1>Welcome to GamesApp.com</h1>
        <p>Please choose one of the games below . Have fun & Share !</p>
        <hr>
      </div>
    </div>

    <div id="titles" class="container">
      <div class="row">
        <div class="row">
			<%= render partial:'game',collection: @games%>
			  
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 BootCamp, Produced by Arturo Cortes, Diego Felipe Ramirez, Juan Vargas & Juan P. Ruiz.</p>
      </footer>
    </div>